{%extends 'basic_nik.html'%}

{%block graph1%}
<h1 >Top 100 words TF-IDF scores for orginal bill</h1>
<div class="chart" id="bargraph"  >
	<script type="text/javascript" href={{bar}}>
		var graphs = {{graphJSON | safe}};
        Plotly.plot('bargraph',graphs,{});
 </script>
</div>
<h1>Top 100 words TF-IDF scores for amended bill</h1>
<div class="chart" id="bargraph1"  >
	<script type="text/javascript" href={{bar}}>
		var graphs1 = {{graphJSON1 | safe}};
        Plotly.plot('bargraph1',graphs1,{});
 </script>
</div>
{%endblock%}